<div id="scrollTarget1"></div>
<section class="component about" id="about">
  <h2>About us</h2>
  <div class="wrapper">
    <div class="about__content">
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquam
        asperiores minus impedit veritatis nisi, adipisci quisquam iusto qui
        exercitationem assumenda at et, alias nihil fugiat labore quo,
        praesentium aliquid! Sunt corrupti a voluptates ratione, quia
        perspiciatis facilis perferendis incidunt dolor molestiae officia
        quibusdam quod rem deleniti laudantium voluptas, necessitatibus
        reprehenderit harum saepe officiis, odio tempora! Quas, beatae corporis
        aspernatur tenetur deleniti rerum ut. Rem, ut sed quis numquam voluptate
        ad et maiores doloribus facere dignissimos natus nobis quos vero velit
        sapiente optio accusamus enim repudiandae exercitationem voluptas
        mollitia reiciendis accusantium facilis obcaecati. A, natus aut
        architecto reiciendis ex beatae modi ullam iusto at quisquam pariatur
        nobis, maiores repellendus, perferendis veniam harum. Quaerat eos ut
        fuga magnam dolorem quod quos vitae eius tempore ad.
      </p>
    </div>
  </div>
  <div class="scrollArrow">
    <a href="#scrollTarget2">
      <i class="fa fa-angle-double-down scrollArrow--icon" aria-hidden="true"></i>
    </a>
  </div>
</section>