<div id="scrollTarget2"></div>
<section class="component" id="blog">
  <div class="wrapper">
    <h2>Dog Blog</h2>
    <article class="blog">

      <figure class="blog__article">
        <img src="img/blog/caleb-stokes-unsplash240.jpg" srcset="img/blog/caleb-stokes-unsplash240.jpg, img/blog/caleb-stokes-unsplash384.jpg 2x,
          img/blog/caleb-stokes-unsplash480.jpg 3x" sizes="100vw" alt="dog" class="blog__article-img" />
        <figcaption class="blog__article-title">Make your dog relax</figcaption>
        <p class="blog__article-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Necessitatibus,
          similique.</p>
        <a href="#" class="blog__article-link">Read more...</a>
      </figure>
      <figure class="blog__article">
        <img src="img/blog/tadeusz-lakota-dog-with-tennis-ball-unsplash240.jpg" srcset="img/blog/tadeusz-lakota-dog-with-tennis-ball-unsplash240.jpg, img/blog/tadeusz-lakota-dog-with-tennis-ball-unsplash384.jpg 2x,
          img/blog/tadeusz-lakota-dog-with-tennis-ball-unsplash480.jpg 3x" sizes="100vw" alt="dog with tennis ball"
          class="blog__article-img" />
        <figcaption class="blog__article-title">How to teach a dog to fetch?</figcaption>
        <p class="blog__article-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Necessitatibus,
          similique.</p>
        <a href="#" class="blog__article-link">Read more...</a>
      </figure>
      <figure class="blog__article">
        <img src="./img/blog/reed-shepherd-happy-dog-unsplash240.jpg" srcset="reed-shepherd-happy-dog-unsplash240.jpg, img/blog/reed-shepherd-happy-dog-unsplash384.jpg 2x,
          img/blog/reed-shepherd-happy-dog-unsplash480.jpg 3x" sizes="100vw" alt="happy dog"
          class="blog__article-img blog__article-img--last" />
        <figcaption class="blog__article-title">Best dog training methods</figcaption>
        <p class="blog__article-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Necessitatibus,
          similique.</p>
        <a href="#" class="blog__article-link">Read more...</a>
      </figure>

      <figure class="blog__article">
        <img src="img/blog/sharon-mccutcheon-black-sad-dog-unsplash240.jpg" srcset="img/blog/sharon-mccutcheon-black-sad-dog-unsplash240.jpg,
          img/blog/sharon-mccutcheon-black-sad-dog-unsplash384.jpg 2x,
        img/blog/sharon-mccutcheon-black-sad-dog-unsplash480.jpg 3x" sizes="100vw" alt="sad black dog"
          class="blog__article-img" />
        <figcaption class="blog__article-title">10 tips to unerstand your dog</figcaption>
        <p class="blog__article-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Necessitatibus,
          similique.</p>
        <a href="#" class="blog__article-link">Read more...</a>
      </figure>
      <figure class="blog__article blog__article--last">
        <img src="img/blog/bruce-warrington-three-dogs-unsplash240.jpg" srcset="img/blog/bruce-warrington-three-dogs-unsplash240.jpg, img/blog/bruce-warrington-three-dogs-unsplash384.jpg 2x,
        img/blog/bruce-warrington-three-dogs-unsplash480.jpg 3x" sizes="100vw" alt="three dogs"
          class="blog__article-img" />
        <figcaption class="blog__article-title">Herding dogs</figcaption>
        <p class="blog__article-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Necessitatibus,
          similique.</p>
        <a href="#" class="blog__article-link">Read more...</a>
      </figure>
      <figure class="blog__article blog__article--last">
        <img src="img/blog/eddie-howell-dogs-and-woman-on-the-banch-unsplash240.jpg" srcset="/img/blog/eddie-howell-dogs-and-woman-on-the-banch-unsplash240.jpg,
          /img/blog/eddie-howell-dogs-and-woman-on-the-banch-unsplash384.jpg 2x,
          /img/blog/eddie-howell-dogs-and-woman-on-the-banch-unsplash480.jpg 3x" sizes="100vw" alt="dog"
          class="blog__article-img" />
        <figaption class="blog__article-title">It is a dog time!</figaption>
        <p class="blog__article-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Necessitatibus,
          similique.</p>
        <a href="#" class="blog__article-link">Read more...</a>
      </figure>
    </article>
    <a href="\"><span class="more">Find more...</span></a>
  </div>

</section>