<section class="component blog" id="blog">
  <div class="wrapper">
    <h2>Blog</h2>
    <article class="box">

      <div class="box__article">
        <img src="img/blog/caleb-stokes-unsplash240.jpg" srcset="/img/caleb-stokes-unsplash240.jpg, /img/caleb-stokes-unsplash384.jpg 2x,
          /img/caleb-stokes-unsplash480.jpg 3x" sizes="100vw" alt="dog" class="box__article-img" />
        <h3 class="box__article-title">Friends</h3>
        <p class="box__article-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Necessitatibus,
          similique.</p>
        <a href="#" class="box__article-link">Read more...</a>
      </div>
      <div class="box__article">
        <img src="/img/caleb-stokes-unsplash240.jpg" srcset="/img/caleb-stokes-unsplash240.jpg, /img/caleb-stokes-unsplash384.jpg 2x,
          /img/caleb-stokes-unsplash480.jpg 3x" sizes="100vw" alt="dog" class="box__article-img" />
        <h3 class="box__article-title">Friends</h3>
        <p class="box__article-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Necessitatibus,
          similique.</p>
        <a href="#" class="box__article-link">Read more...</a>
      </div>
      <div class="box__article">
        <img src="/img/caleb-stokes-unsplash240.jpg" srcset="/img/caleb-stokes-unsplash240.jpg, /img/caleb-stokes-unsplash384.jpg 2x,
          /img/caleb-stokes-unsplash480.jpg 3x" sizes="100vw" alt="dog"
          class="box__article-img box__article-img--last" />
        <h3 class="box__article-title">Friends</h3>
        <p class="box__article-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Necessitatibus,
          similique.</p>
        <a href="#" class="box__article-link">Read more...</a>
      </div>

      <div class="box__article">
        <img src="/img/caleb-stokes-unsplash240.jpg" srcset="/img/caleb-stokes-unsplash240.jpg, /img/caleb-stokes-unsplash384.jpg 2x,
        /img/caleb-stokes-unsplash480.jpg 3x" sizes="100vw" alt="dog" class="box__article-img" />
        <h3 class="box__article-title">Friends</h3>
        <p class="box__article-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Necessitatibus,
          similique.</p>
        <a href="#" class="box__article-link">Read more...</a>
      </div>
      <div class="box__article box__article--last">
        <img src="/img/caleb-stokes-unsplash240.jpg" srcset="/img/caleb-stokes-unsplash240.jpg, /img/caleb-stokes-unsplash384.jpg 2x,
        /img/caleb-stokes-unsplash480.jpg 3x" sizes="100vw" alt="dog" class="box__article-img" />
        <h3 class="box__article-title">Friends</h3>
        <p class="box__article-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Necessitatibus,
          similique.</p>
        <a href="#" class="box__article-link">Read more...</a>
      </div>
      <div class="box__article box__article--last">
        <img src="/img/caleb-stokes-unsplash240.jpg" srcset="/img/caleb-stokes-unsplash240.jpg, /img/caleb-stokes-unsplash384.jpg 2x,
          /img/caleb-stokes-unsplash480.jpg 3x" sizes="100vw" alt="dog" class="box__article-img" />
        <h3 class="box__article-title">Friends</h3>
        <p class="box__article-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Necessitatibus,
          similique.</p>
        <a href="#" class="box__article-link">Read more...</a>
      </div>



    </article>
  </div>
</section>