<div id="scrollTarget2"></div>
<section class="component blog" id="blog">
  <div class="wrapper">
    <h2>Blog</h2>
    <article class="box">

      <div class="box__article">
        <img src="img/blog/caleb-stokes-unsplash240.jpg" srcset="img/blog/caleb-stokes-unsplash240.jpg, img/blog/caleb-stokes-unsplash384.jpg 2x,
          img/blog/caleb-stokes-unsplash480.jpg 3x" sizes="100vw" alt="dog" class="box__article-img" />
        <h3 class="box__article-title">Friends</h3>
        <p class="box__article-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Necessitatibus,
          similique.</p>
        <a href="#" class="box__article-link">Read more...</a>
      </div>
      <div class="box__article">
        <img src="img/blog/tadeusz-lakota-dog-with-tennis-ball-unsplash240.jpg" srcset="img/blog/tadeusz-lakota-dog-with-tennis-ball-unsplash240.jpg, img/blog/tadeusz-lakota-dog-with-tennis-ball-unsplash384.jpg 2x,
          img/blog/tadeusz-lakota-dog-with-tennis-ball-unsplash480.jpg 3x" sizes="100vw" alt="dog with tennis ball"
          class="box__article-img" />
        <h3 class="box__article-title">Friends</h3>
        <p class="box__article-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Necessitatibus,
          similique.</p>
        <a href="#" class="box__article-link">Read more...</a>
      </div>
      <div class="box__article">
        <img src="img/blog/hamish-kale-jumping-dog-unsplash240.jpg" srcset="img/blog/hamish-kale-jumping-dog-unsplash240.jpg, img/blog/hamish-kale-jumping-dog-unsplash384.jpg 2x,
          img/blog/hamish-kale-jumping-dog-unsplash480.jpg 3x" sizes="100vw" alt="jumping dog"
          class="box__article-img box__article-img--last" />
        <h3 class="box__article-title">Friends</h3>
        <p class="box__article-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Necessitatibus,
          similique.</p>
        <a href="#" class="box__article-link">Read more...</a>
      </div>

      <div class="box__article">
        <img src="img/blog/sharon-mccutcheon-black-sad-dog-unsplash240.jpg" srcset="img/blog/sharon-mccutcheon-black-sad-dog-unsplash240.jpg,
          img/blog/sharon-mccutcheon-black-sad-dog-unsplash384.jpg 2x,
        img/blog/sharon-mccutcheon-black-sad-dog-unsplash480.jpg 3x" sizes="100vw" alt="dog"
          class="box__article-img" />
        <h3 class="box__article-title">Friends</h3>
        <p class="box__article-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Necessitatibus,
          similique.</p>
        <a href="#" class="box__article-link">Read more...</a>
      </div>
      <div class="box__article box__article--last">
        <img src="img/blog/bruce-warrington-three-dogs-unsplash240.jpg" srcset="img/blog/bruce-warrington-three-dogs-unsplash240.jpg, img/blog/bruce-warrington-three-dogs-unsplash384.jpg 2x,
        img/blog/bruce-warrington-three-dogs-unsplash480.jpg 3x" sizes="100vw" alt="three dogs"
          class="box__article-img" />
        <h3 class="box__article-title">Friends</h3>
        <p class="box__article-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Necessitatibus,
          similique.</p>
        <a href="#" class="box__article-link">Read more...</a>
      </div>
      <div class="box__article box__article--last">
        <img src="img/blog/eddie-howell-dogs-and-woman-on-the-banch-unsplash240.jpg" srcset="/img/blog/eddie-howell-dogs-and-woman-on-the-banch-unsplash240.jpg,
          /img/blog/eddie-howell-dogs-and-woman-on-the-banch-unsplash384.jpg 2x,
          /img/blog/eddie-howell-dogs-and-woman-on-the-banch-unsplash480.jpg 3x" sizes="100vw" alt="dog"
          class="box__article-img" />
        <h3 class="box__article-title">Friends</h3>
        <p class="box__article-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Necessitatibus,
          similique.</p>
        <a href="#" class="box__article-link">Read more...</a>
      </div>



    </article>
  </div>

</section>