<footer class="footer">
  <div class="wrapper">


    <div class="footer__content">

      <h3>Dog's Camp</h3>
      <ul class="campAddress">
        <li><i class="fa fa-home"></i>Lyncoln Street 345</li>
        <li>32-566 USA</li>

        <li> <i class="fa fa-envelope"></i>dogcamp@info.com</li>

        <li> <i class="fa fa-phone"></i>677-33-22</li>
      </ul>

      <div class="footer__menu">
        <ul>
          <li>
            <i class="fas fa-map-marker-alt"></i>
            Location
          </li>
          <li>
            <i class=" fas fa-award"></i>
            Awards
          </li>
          <li>
            <i class="fas fa-question-circle"></i>
            FAQ
          </li>
          <li>
            <i class="fab fa-facebook-f"></i>
            Facebook
          </li>

      </div>

      <div class="footer__content--copyrights">
        <span>&#169; Copyrights</span>
        <span id="copyrights"></span>
        <a href="https://www.allaboutcookies.org/privacy-concerns/" class="footer__content--privacy">
          <span>| Privacy & Cookies |</span>
        </a>
        <span class="footer__content--author">Designed & created by Beata Maro</span>
      </div>
    </div>
  </div>
  </div>
  <button type="button" id="goToTop" class="btn btnTop" title="Go to top"><i class="fa fa-angle-double-up"></i></button>
</footer>