<header class="header" id="header" data-js="header">
  <div class="wrapper">
    <nav class="header__nav">
      <a href="\" class="header__logo">
        <i class="fa fa-bone"></i>
      </a>
      <ul id="navItems" class="header__navItems">
        <li><a href="#scrollTarget1">About</a></li>
        <li><a href="#scrollTarget2">Blog</a></li>
        <li><a href="#video">Gallery <i class="fa fa-caret-down"></i></a>
          <p class="gallery">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id, ratione.
            <img src="/img/blog/reed-shepherd-happy-dog-unsplash240.jpg" alt="black dog" />
          </p>
        </li>
        <li><a href="#scrollTarget3">Contact</a></li>
      </ul>

      <button class="header__hamburger" data-hamburger-menu>
        <span></span>
        <span></span>
        <span></span>
      </button>
    </nav>

  </div>
</header>