<header class="header" id="header" data-js="header">
  <div class="wrapper">
    <a href="/"><img src="img/logo.jpg" alt="logo-pets" class="header__logo" /></a>
    <nav class="header-nav">
      <ul id="navItems">
        <li><a href="#scrollTarget1">About us</a></li>
        <li><a href="#scrollTarget2">Blog</a></li>
        <li><a href="#">Dog camp</a></li>
        <li><a href="#scrollTarget3">Contact</a></li>
      </ul>
      <button class="header__hamburger" data-hamburger-menu>
        <span></span>
        <span></span>
        <span></span>
      </button>
    </nav>
  </div>
</header>