@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-size: 1rem;
  line-height: 1.5;
  font-family: "Quicksand", sans-serif;
  color: #333;
  background-color: #f5f5f5;
  min-height: 100vh; }
  @media (prefers-color-scheme: dark) {
    body {
      background-color: #333; } }
  body.open {
    overflow-y: hidden;
    height: 100vh; }

html {
  font-size: 16px;
  scroll-behavior: smooth; }

#scrollTarget1,
#scrollTarget2 {
  height: 3em;
  background-color: transparent; }

#scrollTarget3 {
  height: 1em; }

.scrollArrow {
  width: 100%;
  display: grid;
  place-items: center;
  margin-top: 10rem; }
  .scrollArrow--icon {
    color: #111;
    font-size: 1.6rem; }

h1,
h2,
h3 {
  text-align: center;
  margin-bottom: 2rem; }

h1 {
  font-size: 2.25rem; }

h2 {
  font-size: 1.5rem; }

h3 {
  font-size: 1.25rem; }

p {
  letter-spacing: 1px;
  text-align: center; }
  p::-moz-selection {
    color: #77abe9; }
  p::selection {
    color: #77abe9; }

.wrapper {
  max-width: 74rem;
  margin: 0 auto;
  position: relative;
  padding: 0 2rem; }

.component {
  margin: 4rem 0; }

input[type="number"],
input[type="text"],
input[type="email"],
textarea {
  outline: none; }

.btn {
  height: 2rem;
  border: 2px solid #111;
  background: #111;
  color: #f5f5f5;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0.4rem;
  -webkit-transition: all 350ms ease-in-out;
  transition: all 350ms ease-in-out;
  line-height: 1;
  color: #f5f5f5; }

.btnTop {
  position: fixed;
  right: 0;
  bottom: 2rem;
  padding: 0.6rem;
  line-height: .5; }
  .btnTop:active, .btnTop:focus {
    outline: none; }
  .btnTop i {
    font-size: .7rem; }
  .btnTop:hover {
    text-shadow: 0 2px #111;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    color: #5769f5; }

img {
  max-width: 100%; }

a, .footer__content--privacy {
  text-decoration: none;
  color: #333; }

.hero, .blog__article:hover {
  -webkit-box-shadow: 0 17px 21px 0 #8a8a8a;
          box-shadow: 0 17px 21px 0 #8a8a8a; }

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 4rem;
  -webkit-transition: all 500ms;
  transition: all 500ms;
  z-index: 10; }
  @media screen and (min-width: 1200px) {
    .header {
      height: 4rem; }
      .header i {
        opacity: 0; } }
  .header li {
    display: none; }
  @media screen and (max-width: 1200px) {
    body.open .header {
      height: 100vh;
      background-color: #111;
      width: 100%; }
      body.open .header i {
        display: none; }
      body.open .header #navItems {
        padding-top: 6rem; }
        body.open .header #navItems .gallery {
          display: none; }
        body.open .header #navItems li {
          display: block;
          padding: 2rem; }
          body.open .header #navItems li:hover {
            background: transparent; }
          body.open .header #navItems li a {
            color: #f5f5f5;
            font-size: 1.5rem;
            text-decoration: none;
            letter-spacing: 1px;
            vertical-align: middle;
            -webkit-transition: 300ms ease-in-out;
            transition: 300ms ease-in-out; }
            body.open .header #navItems li a:hover {
              color: #5769f5;
              text-shadow: none; } }
  .header__hamburger {
    cursor: pointer;
    position: absolute;
    top: 0.5rem;
    right: 2rem;
    height: 4rem;
    width: 4rem;
    border: none;
    background: transparent;
    -webkit-transition: 250ms ease-in;
    transition: 250ms ease-in;
    z-index: 20; }
    .header__hamburger span {
      background-color: #f5f5f5;
      display: block;
      width: 3rem;
      height: 0.36rem;
      margin-bottom: 0.4rem;
      border-radius: 4px; }
    .header__hamburger:focus, .header__hamburger:active {
      outline: none; }
    @media screen and (min-width: 1200px) {
      .header__hamburger {
        display: none; } }
  .header__nav {
    text-shadow: .8px .8px black;
    text-align: right; }
    body.open .header__nav {
      text-align: center;
      font-size: 1.5rem; }
  @media screen and (min-width: 768px) {
    .header a {
      font-size: 2rem; } }
  @media screen and (min-width: 1200px) {
    .header li {
      display: inline-block;
      padding: 1rem 1.5rem;
      -webkit-transition: 250ms ease-in;
      transition: 250ms ease-in; }
      .header li .gallery {
        width: 250%;
        height: 0;
        padding: 1.5rem;
        background: #111;
        opacity: 0;
        position: absolute;
        top: 4rem;
        color: #f5f5f5;
        right: 0;
        -webkit-transition: 250ms ease-in;
        transition: 250ms ease-in; }
        .header li .gallery:hover {
          display: none;
          pointer-events: none; }
        .header li .gallery img {
          width: 0; }
      .header li:hover {
        background-color: #32b48c; }
      .header li:nth-child(3) {
        position: relative; }
      .header li:nth-child(3) i {
        display: inline-block;
        color: #32b48c;
        opacity: 1; }
      .header li:nth-child(3):hover p.gallery {
        opacity: 1;
        height: 50%; }
      .header li:nth-child(3):hover .gallery > img {
        opacity: 1;
        width: 50%; }
      .header li a {
        cursor: pointer;
        text-decoration: none;
        color: #f5f5f5;
        padding-bottom: 0.8rem;
        text-transform: uppercase;
        -webkit-transition: padding 300ms linear, color 250ms ease;
        transition: padding 300ms linear, color 250ms ease;
        font-size: 1.25rem;
        text-shadow: 1px 1px #111; } }
  @media screen and (min-width: 1600px) {
    .header a {
      font-size: 1.5rem; } }
  .header__logo {
    display: none; }
    body.open .header__logo {
      display: none; }
    @media screen and (min-width: 1200px) {
      .header__logo {
        display: block;
        position: absolute;
        top: 0.5rem;
        left: 2rem;
        width: 50px;
        vertical-align: middle;
        z-index: 20; } }
  .header.down {
    position: fixed;
    background-color: #111;
    height: 4.4rem; }
    @media screen and (min-width: 768px) {
      .header.down {
        height: 5rem; } }
    @media screen and (min-width: 1200px) {
      .header.down {
        height: 3.6rem; } }
    .header.down i {
      opacity: 1;
      color: #777;
      font-size: 2rem;
      position: absolute;
      top: 1rem;
      left: 2rem;
      -webkit-transition: 200ms ease-in;
      transition: 200ms ease-in; }
      @media screen and (min-width: 1200px) {
        .header.down i {
          top: 0.2rem;
          left: 0; } }
    .header.down li {
      padding: 1rem 1.5rem;
      -webkit-transition: 200ms linear;
      transition: 200ms linear; }
      .header.down li:hover {
        background: #5769f5;
        color: #f5f5f5; }
      .header.down li:nth-child(3):hover .gallery {
        display: none; }
      .header.down li:nth-child(3) i {
        display: none; }
    .header.down .header__nav a {
      padding-top: 1.3rem;
      font-size: 0.75rem;
      color: #777; }
      .header.down .header__nav a:hover {
        color: #f5f5f5; }
    .header.down .header__logo {
      display: block; }
    .header.down .header__hamburger {
      margin-top: 0; }
      @media screen and (min-width: 768px) {
        .header.down .header__hamburger {
          top: 0.6rem; } }
      @media screen and (min-width: 1200px) {
        .header.down .header__hamburger {
          -webkit-transform: scale(0.8);
                  transform: scale(0.8);
          top: 0;
          right: 1.6rem; } }
      .header.down .header__hamburger span {
        -webkit-transition: 300ms ease-in;
        transition: 300ms ease-in; }
      .header.down .header__hamburger:hover {
        -webkit-transform: scale(0.9);
                transform: scale(0.9); }

.hero {
  position: relative;
  background-color: #3B1325;
  width: 100%;
  height: 90vh;
  background-image: url(../img/hero/jeff-nissen-Aok-unsplash768x450.jpg);
  background-repeat: no-repeat;
  background-position: 20% 60%;
  overflow: hidden;
  background-attachment: fixed; }
  @media screen and (min-width: 768px) {
    .hero {
      height: 100vh;
      background-image: url(../img/hero/jeff-nissen-Aok-unsplash1200x600.jpg);
      background-size: cover;
      background-position: 15% top; } }
  @media screen and (min-width: 1200px) {
    .hero {
      background-image: url(../img/hero/jeff-nissen-Aok-unsplash1920x800.jpg);
      background-position: 60%; } }
  .hero-content {
    width: 100%;
    height: 100%; }
    .hero-content .hero__title {
      position: absolute;
      top: 70%;
      left: 50%;
      -webkit-transform: translate(-50%, -70%);
              transform: translate(-50%, -70%);
      width: 100%;
      text-align: center;
      font-size: 8vmin;
      font-weight: 700;
      line-height: 10vmin;
      text-shadow: 0 4px #111;
      text-transform: capitalize;
      word-wrap: wrap;
      -webkit-transition: 200ms ease-in;
      transition: 200ms ease-in; }
      .hero-content .hero__title--last {
        color: #f5f5f5;
        opacity: 0; }
      .hero-content .hero__title span {
        display: none;
        -webkit-transition: 250ms ease-in;
        transition: 250ms ease-in; }
      .hero-content .hero__title span.color {
        display: inline;
        color: #32b48c;
        font-size: 8vmin; }
        .hero-content .hero__title span.color::-moz-selection {
          color: #f5f5f5; }
        .hero-content .hero__title span.color::selection {
          color: #f5f5f5; }
        @media screen and (min-width: 768px) {
          .hero-content .hero__title span.color {
            font-size: 10vmin; } }
        @media screen and (min-width: 1200px) {
          .hero-content .hero__title span.color {
            font-size: 10vmin; } }
    span.color .hero-content {
      opacity: 1; }
  .hero .scrollArrow {
    position: absolute;
    bottom: 5%;
    left: 0;
    -webkit-transition: 300ms ease-in;
    transition: 300ms ease-in; }
    @media screen and (min-width: 1200px) {
      .hero .scrollArrow {
        bottom: 2rem; } }
    .hero .scrollArrow__icon--hero {
      opacity: 0;
      padding: .2em;
      border-radius: 50%;
      font-size: 1.2rem;
      -webkit-transition: 200ms ease-in;
      transition: 200ms ease-in;
      background: rgba(128, 128, 128, 0.24);
      -webkit-box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.1);
              box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.1); }
      @media screen and (min-width: 768px) {
        .hero .scrollArrow__icon--hero {
          font-size: 1rem;
          color: #111; } }
      .hero .scrollArrow__icon--hero:hover {
        -webkit-transform: rotateZ(360deg);
                transform: rotateZ(360deg);
        color: #777; }

#scrollTarget1 {
  height: 1em; }

.about h2 {
  padding-top: 2rem; }

.about__content {
  text-align: center; }

@media (prefers-color-scheme: dark) {
  .about {
    color: #f5f5f5; } }

.about .scrollArrow--icon {
  -webkit-transition: 200ms ease;
  transition: 200ms ease;
  font-size: 1rem; }
  .about .scrollArrow--icon:hover {
    opacity: .8; }

#scrollTarget2 {
  height: 1em; }

.blog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .blog__article {
    background: #f8f8f8;
    margin-bottom: 0.6rem;
    padding: 2rem 0;
    border-radius: 4px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    -webkit-transition: 500ms ease;
    transition: 500ms ease; }
    @media screen and (min-width: 768px) {
      .blog__article {
        -ms-flex-preferred-size: 47%;
            flex-basis: 47%; } }
    @media screen and (min-width: 1200px) {
      .blog__article {
        -ms-flex-preferred-size: 33%;
            flex-basis: 33%; } }
    .blog__article--last {
      display: none; }
      @media screen and (min-width: 768px) {
        .blog__article--last {
          display: inherit; } }
    .blog__article-img {
      width: 70%;
      max-height: 480px;
      -ms-flex-item-align: center;
          align-self: center;
      vertical-align: middle; }
      @media screen and (min-width: 768px) {
        .blog__article-img {
          width: 80%; } }
      @media (prefers-color-scheme: dark) {
        .blog__article-img {
          -webkit-box-shadow: none;
                  box-shadow: none; } }
    .blog__article-title {
      color: #111;
      padding-top: 2rem;
      margin: auto;
      font-weight: 700;
      font-size: 1.2rem; }
    .blog__article-text {
      color: #333;
      width: 80%;
      margin-left: 2rem; }
      @media (prefers-color-scheme: dark) {
        .blog__article-text {
          color: #9f9f9f; } }
    .blog__article-link {
      text-decoration: none;
      color: #5769f5;
      -ms-flex-item-align: end;
          align-self: flex-end;
      margin-right: 2rem;
      -webkit-transition: 250ms ease-in;
      transition: 250ms ease-in; }
      .blog__article-link:hover {
        color: #32b48c; }

.more {
  cursor: pointer;
  display: block;
  text-align: center;
  margin-left: -2rem;
  width: 100vw;
  font-size: 1.2rem;
  color: #777;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease; }
  .more:hover {
    text-decoration: underline;
    color: #91f87e; }
  @media screen and (min-width: 768px) {
    .more {
      display: none; } }

section.form::before {
  content: "";
  display: block;
  background: #3B1325;
  position: absolute;
  left: 0;
  width: 100%;
  height: 700px;
  -webkit-transform: skew(0deg, 190deg);
          transform: skew(0deg, 190deg); }
  @media screen and (min-width: 768px) {
    section.form::before {
      height: 600px;
      -webkit-transform: skew(0deg, 190deg);
              transform: skew(0deg, 190deg); } }

.form {
  background: #3b1381;
  padding: 2rem;
  margin-bottom: 0; }
  .form h2 {
    color: #f5f5f5; }
  .form-cont {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .form-block {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap; }
    @media screen and (min-width: 768px) {
      .form-block--half {
        -ms-flex-preferred-size: 50%;
            flex-basis: 50%; } }
    .form-block label {
      display: block;
      color: #777;
      margin-bottom: 0.5rem; }
    .form-block input,
    .form-block select {
      display: block;
      width: 80%;
      color: #32b48c;
      padding: 1rem;
      border: 0.5px solid #777;
      outline: 2px solid #d1d0d1;
      z-index: 10; }
      .form-block input:focus,
      .form-block select:focus {
        outline: 2px solid #b4aa82; }
      .is-submitted .form-block input:invalid, .is-submitted
      .form-block select:invalid {
        outline: 2px solid red;
        background-color: rgba(255, 0, 0, 0.2); }
        .is-submitted .form-block input:invalid + .form-error-msg, .is-submitted
        .form-block select:invalid + .form-error-msg {
          visibility: visible; }
    .form-block .form-error-msg {
      display: block;
      visibility: hidden;
      position: absolute;
      bottom: -1.5rem;
      color: red;
      font-size: 0.75rem; }
    .form-block input[type="checkbox"],
    .form-block input[type="radio"] {
      position: absolute;
      clip: rect(1px, 1px, 1px, 1px);
      opacity: 0;
      height: 0;
      width: 0;
      margin: 0; }
      .form-block input[type="checkbox"]:focus + label:before,
      .form-block input[type="radio"]:focus + label:before {
        color: #91f87e; }
      .form-block input[type="checkbox"] + label,
      .form-block input[type="radio"] + label {
        position: relative;
        -webkit-user-select: none;
           -moz-user-select: none;
            -ms-user-select: none;
                user-select: none;
        padding-left: 2rem;
        margin: 0; }
        .form-block input[type="checkbox"] + label::before,
        .form-block input[type="radio"] + label::before {
          content: "\2610";
          position: absolute;
          left: 0;
          top: -0.25em;
          font-size: 1.5em; }
      .form-block input[type="checkbox"]:checked + label::before,
      .form-block input[type="radio"]:checked + label::before {
        content: "\2713"; }
      .is-submitted .form-block input[type="checkbox"]:invalid + label, .is-submitted
      .form-block input[type="radio"]:invalid + label {
        color: red; }
        .is-submitted .form-block input[type="checkbox"]:invalid + label + .form-error-msg, .is-submitted
        .form-block input[type="radio"]:invalid + label + .form-error-msg {
          visibility: visible; }
    .form-block input[type="radio"] + label:before {
      content: "○";
      top: -0.45em;
      font-size: 2em; }
    .form-block input[type="radio"]:checked + label:before {
      content: "●"; }
  .form-el {
    display: block;
    position: relative;
    margin-bottom: 2rem; }
  .form .btn {
    min-width: 40%;
    margin: auto;
    -webkit-transition: 300ms ease-in;
    transition: 300ms ease-in;
    border-color: #111; }
    .form .btn:hover {
      background: #3b1381;
      border-color: #3b1381; }
    .form .btn:active {
      color: #f5f5f5;
      background: #32b48c;
      border-color: #32b48c; }

.footer {
  color: #d1d0d1;
  background: #111;
  padding: 1rem; }
  .footer__content {
    display: grid; }
    .footer__content .campAddress {
      color: #d1d0d1;
      margin-bottom: 1em; }
    .footer__content h3 {
      text-align: left;
      margin-bottom: 1rem; }
    .footer__content i {
      margin-right: 0.5rem;
      color: #777;
      cursor: pointer; }
      .footer__content i:hover {
        color: #5769f5; }
    .footer__content--copyrights {
      text-align: center;
      color: #777;
      width: 100%;
      text-shadow: 1px 1px #111;
      font-size: 0.75rem;
      margin-top: 2rem; }
    .footer__content .footer {
      width: 100%; }
      .footer__content .footer__menu ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: space-evenly;
            -ms-flex-pack: space-evenly;
                justify-content: space-evenly; }
        .footer__content .footer__menu ul li {
          display: grid; }
          .footer__content .footer__menu ul li i {
            justify-self: center; }
    .footer__content--privacy {
      cursor: pointer;
      color: #5769f5; }
      .footer__content--privacy:hover {
        text-decoration: underline;
        text-shadow: 1px 1px #3b1381; }
    .footer__content--author {
      display: block; }
      @media screen and (min-width: 768px) {
        .footer__content--author {
          display: inline; } }
