$color-1: #333;
$color-2: #777;
$color-3: #d1d0d1;
$color-4: #91f87e;
$color-5: rgb(99, 110, 67);
$green: rgb(50, 180, 140);
$beige: rgb(240, 235, 235);
$violet: #8B00A9;

$color-1-light: #6f6f6f;
$color-2-light: #9f9f9f;
$color-3-light: #dcdbdc;
$color-4-light: #77abe9;

$white: #fff;
$black: #111;
$color-error: red;
$color-ok: green;

$base-unit: 1rem; //12px, 16px i 20px - w zależności od szerokości ekranu - global.scss - html

// $font-1: "Poppins", sans-serif;
// $font-1: 'Maven Pro',
// sans-serif;
// $font-1: 'Abril Fatface',
// cursive;
// $font-1: 'Pacifico',
// cursive;
$font-1: 'Quicksand',
sans-serif;
$font-size-base: $base-unit;
$fw-light: 100;
$fw-normal: 400; // przy zmianie fontu może być inna grubość
$fw-bold: 700; // dlatego warto robić na zmiennych

$font-size-body: $font-size-base;
$font-size-body2: $font-size-base * 0.75;
$font-size-h1: $font-size-base * 2.25;
$font-size-h2: $font-size-base * 1.5;
$font-size-h3: $font-size-base * 1.25;

$space: $base-unit * 2; // 24px, 32px, 40px

$bpoint-mob: 360px;
$bpoint-tab: 768px;
$bpoint-desk: 1200px;
$bpoint-desk-xl: 1600px;

$container-max-width: 74 * $base-unit;