#scrollTarget2 {

  height: 1em;
}

.blog {

  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

  &__article {
    background: #f8f8f8;
    margin-bottom: .3 * $space;
    padding: $space 0;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    transition: 500ms ease;

    @media screen and (min-width: $bpoint-tab) {
      flex-basis: 47%;
    }

    @media screen and (min-width: $bpoint-desk) {
      flex-basis: 33%;
    }

    &:hover {
      @extend %shadow-box;

    }

    &--last {

      display: none;

      @media screen and (min-width: $bpoint-tab) {

        display: inherit;
      }

    }

    &-img {
      width: 70%;
      max-height: 480px;
      align-self: center;
      vertical-align: middle;


      @media screen and (min-width: $bpoint-tab) {
        width: 80%;
      }

      @media (prefers-color-scheme: dark) {
        box-shadow: none;
      }
    }

    &-title {
      color: $black;
      padding-top: $space;
      margin: auto;
      font-weight: $fw-bold;
    }

    &-text {
      color: $color-1;
      width: 80%;
      margin-left: $space;

      @media (prefers-color-scheme: dark) {
        color: $color-2-light;
      }
    }

    &-link {
      text-decoration: none;
      color: rgb(46, 221, 125);
      align-self: flex-end;
      margin-right: $space;
    }
  }
}

a {

  @extend %link-style;

}

.more {
  cursor: pointer;
  display: block;
  text-align: center;
  margin-left: -$space;
  width: 100vw;
  font-size: 1.2rem;
  color: $color-2;
  transition: all 200ms ease;


  &:hover {
    text-decoration: underline;
    color: $color-4;
  }

  @media screen and (min-width: $bpoint-tab) {

    display: none;
  }
}