.box {

  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-content: space-between;
  margin-top: $space;


  &__article {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    padding: $space 0;
    margin-bottom: .1 * $space;
    transition: 500ms ease;



    @media screen and (min-width: $bpoint-tab) {
      flex-basis: 50%;
    }

    @media screen and (min-width: $bpoint-desk) {

      flex-basis: 33%;


    }

    &:hover {
      @extend %shadow-box;
    }

    &--last {

      display: none;

      @media screen and (min-width: $bpoint-tab) {

        display: inherit;
      }

    }

    &-img {
      // width: 200px;
      width: 70%;
      align-self: center;
      vertical-align: middle;

      @media screen and (min-width: $bpoint-tab) {
        width: 50%;

      }

      @media (prefers-color-scheme: dark) {
        box-shadow: none;
      }
    }

    &-title {
      color: $black;
      padding: $space;
      text-transform: uppercase;
      font-weight: $fw-bold;
      letter-spacing: 1px;
    }

    &-text {
      color: $color-1;
      width: 80%;
      text-align: left;
      margin: auto;

      @media (prefers-color-scheme: dark) {
        color: $color-2-light;
      }
    }

    &-link {
      text-decoration: none;
      color: rgb(46, 221, 125);
      align-self: flex-end;
      margin-right: 5%;
    }
  }
}