.contactForm {
  margin-bottom: 0;

  h2 {
    color: $color-1;
  }

  &__background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background-color: $color-3;
    background-image: url(../img/form/patrick-hendry-dog-and-man-sunset-unsplash768x450.jpg);
    background-size: cover;
    background-position: 50%;
    z-index: -1;

    @media screen and (min-width: $bpoint-tab) {
      background-image: url(../img/form/patrick-hendry-dog-and-man-sunset-unsplash1200x800.jpg);
      background-position: 50%;
    }

    @media screen and (min-width: $bpoint-desk) {
      background-image: url(../img/form/patrick-hendry-dog-and-man-sunset-unsplash1920x800.jpg);
      transform: scaleX(-1);
    }
  }

  &__content {
    display: flex;
    flex-wrap: wrap;

    @media screen and (min-width: $bpoint-desk) {

      justify-content: space-between;
    }

    &-info {
      background-color: rgba($white, 0.7);
      text-align: center;
      padding: 0.5 * $space 0;
      display: flex;
      flex-direction: column;
      align-self: center;

      @media screen and (min-width: $bpoint-tab) {

        width: 50%;
        margin-top: 0.5 * $space;
        margin-bottom: 0.5 * $space;
      }

      @media screen and (min-width: $bpoint-desk) {
        flex-basis: 40%;
        font-size: 1.25 * $font-size-base;
      }

      h3 {
        text-transform: uppercase;
        font-weight: $fw-bold;
        letter-spacing: 1px;
        color: $color-1;
      }

      ul {
        color: $color-1;
        padding: $space;
      }

      i {
        margin-right: 0.1 * $space;
      }
    }
  }

  //CONTACT FORM

  &__form {
    fieldset {
      background-color: rgba($white, 0.8);
      padding: $space;
      color: $color-1;
      flex-basis: 100%;

      @media screen and (min-width: $bpoint-tab) {
        flex-basis: 50%;
      }

      input,
      textarea {
        color: $color-4-light;

        &::selection {
          color: $color-2;
        }
      }

      ::placeholder {
        color: $color-4-light;
      }

      //REQUIRED FIELDS
      .req {
        position: relative;

        &::after {
          content: "\1f7bb";
          position: absolute;
          right: -0.5 * $space;
          font-size: $font-size-body2;
          color: $color-4-light;
        }
      }

      input[type="number"],
      input[type="text"],
      input[type="email"] {
        height: 30px;
        width: 100%;
        padding: 0.5 * $base-unit;
        border-radius: 3px;
        border: none;
        outline: none;

        @media screen and (min-width: $bpoint-desk) {
          height: 40px;
        }

        &::placeholder {
          color: $color-1;
        }

        &:focus {
          border: 1px solid $color-sand;
        }
      }

      textarea {
        resize: none;
        font-size: 0.75 * $font-size-base;
        width: 100%;
        border: none;
        background-color: rgb(240, 235, 235);

        @media screen and (min-width: $bpoint-desk) {
          width: 100%;
        }
      }

      //CHECKBOX
      .perm {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        height: 10em;

        a {
          color: $color-5;
          @extend %link-style;
          position: relative;

          &::after {
            content: "\1f7bb";
            color: $color-4-light;
            font-size: $font-size-body2;
            margin-left: 0.25 * $space;
          }
        }

        input[type="checkbox"] {
          display: none;

          &+label {
            width: 60%;
            position: relative;
            padding-left: 2 * $base-unit;

            &::before {
              content: "\2610";
              position: absolute;
              left: 0;
              font-size: 1.5em;
              transform: translateY(-0.3em);
              color: $green;
            }
          }

          &:checked {
            &+label {
              color: $green;

              &::before {
                content: "\2713";
                color: $color-4;
              }
            }
          }
        }

        //SUBMIT BUTTON
        input[type="submit"] {
          align-self: center;
          cursor: pointer;
          border: none;
          outline: none;
          min-width: 200px;
          background: $black;
          color: $white;
          padding: 0.25 * $space 0.5 * $space;
          border-radius: 4px;
          transition: 200ms ease-in-out;

          &:hover {
            background-color: $green;
          }
        }

        .statement {
          opacity: 0;
          transition: 300ms ease;

          &.correct {
            color: $color-4-light;
            font-weight: $fw-bold;
            opacity: 1;
          }

          &.error {
            color: $color-error;
            opacity: 1;
          }
        }
      }
    }
  }
}