.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2 * $space;
  transition: all 500ms;
  z-index: 10;

  @media screen and (min-width: $bpoint-desk) {
    height: 2 * $space;

    i {
      opacity: 0;
    }
  }

  li {
    display: none;
  }

  @media screen and (max-width: $bpoint-desk) {
    body.open & {
      height: 100vh;
      background-color: $black;
      width: 100%;

      i {
        display: none;
      }

      #navItems {
        padding-top: 3 * $space;

        .gallery {

          display: none;
        }

        li {
          display: block;
          padding: $space;

          &:hover {
            background: transparent;
          }

          a {
            color: $white;
            font-size: 1.5rem;
            text-decoration: none;
            letter-spacing: 1px;
            vertical-align: middle;
            transition: 300ms ease-in-out;

            &:hover {
              color: $violet-light;
              text-shadow: none;

            }
          }
        }
      }
    }
  }

  //hamburger menu
  &__hamburger {
    cursor: pointer;
    position: absolute;
    top: .25 * $space;
    right: $space;
    height: 2 * $space;
    width: 2 * $space;
    border: none;
    background: transparent;
    transition: 250ms ease-in;
    z-index: 20;

    span {
      background-color: $white;
      display: block;
      width: 1.5 * $space;
      height: .18 * $space;
      margin-bottom: .2 * $space;
      border-radius: 4px;
    }

    &:focus,
    &:active {
      outline: none;
    }

    @media screen and (min-width: $bpoint-desk) {
      display: none;
    }
  }

  &__nav {

    text-shadow: .8px .8px black;
    text-align: right;


    body.open & {
      text-align: center;
      font-size: 1.5 * $font-size-body;

    }
  }

  @media screen and (min-width: $bpoint-tab) {
    & a {
      font-size: 2 * $font-size-body;
    }
  }


  @media screen and (min-width: $bpoint-desk) {
    li {
      display: inline-block;
      padding: 0.5 * $space 0.75 * $space;
      transition: 250ms ease-in;

      .gallery {

        width: 250%;
        height: 0;
        padding: .75 * $space;
        background: $black;
        opacity: 0;
        position: absolute;
        top: 2 * $space;
        color: $white;
        right: 0;
        transition: 250ms ease-in;

        &:hover {
          display: none;
          pointer-events: none;

        }

        img {
          width: 0;
        }
      }

      &:hover {
        background-color: $green;
      }

      &:nth-child(3) {
        position: relative;
      }

      &:nth-child(3) i {
        display: inline-block;
        color: $green;
        opacity: 1;
      }

      &:nth-child(3):hover p.gallery {
        opacity: 1;
        height: 50%;
      }

      &:nth-child(3):hover .gallery>img {
        opacity: 1;
        width: 50%;
      }

      a {
        cursor: pointer;
        text-decoration: none;
        color: $white;
        padding-bottom: .4 * $space;
        text-transform: uppercase;
        transition: padding 300ms linear, color 250ms ease;
        font-size: 1.25 * $base-unit;
        text-shadow: (1px 1px $black);
      }
    }
  }

  @media screen and (min-width: $bpoint-desk-xl) {
    a {
      font-size: 1.5 * $base-unit;
    }
  }

  &__logo {

    display: none;

    body.open & {

      display: none;
    }

    @media screen and (min-width: $bpoint-desk) {

      display: block;
      position: absolute;
      top: .25 * $space;
      left: $space;
      width: 50px;
      vertical-align: middle;
      z-index: 20;

    }
  }

  //NAVIGATION ON SCROLL DOWN
  &.down {

    position: fixed;
    background-color: $black;
    height: 2.2 * $space;


    @media screen and (min-width: $bpoint-tab) {
      height: 2.5 * $space;
    }

    @media screen and (min-width: $bpoint-desk) {
      height: 1.8 * $space;
    }

    i {
      opacity: 1;
      color: $color-2;
      font-size: 2rem;
      position: absolute;
      top: .5 * $space;
      left: $space;
      transition: 200ms ease-in;

      @media screen and (min-width: $bpoint-desk) {
        top: .1 * $space;
        left: 0;
      }
    }

    & li {
      padding: .5 * $space 0.75 * $space;
      transition: 200ms linear;

      &:hover {
        background: $violet-light;
        color: $white;
      }

      &:nth-child(3):hover .gallery {
        display: none;
      }

      &:nth-child(3) i {
        display: none;
      }
    }

    .header__nav {

      a {
        padding-top: 0.65 * $space;
        font-size: .75 * $base-unit;
        color: $color-2;

        &:hover {
          color: $white;
        }

      }
    }

    .header__logo {
      display: block;
    }

    .header__hamburger {

      margin-top: 0;

      @media screen and (min-width: $bpoint-tab) {
        top: .3 * $space;
      }

      @media screen and (min-width: $bpoint-desk) {
        transform: scale(.8);
        top: 0;
        right: .8 * $space;
      }

      span {

        transition: 300ms ease-in;
      }

      &:hover {

        transform: scale(.9);
      }
    }
  }
}